* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

nav {
  display: flex; /* Makes navigation a flex container */
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex; /* Makes main a flex container */
  flex-wrap: wrap; /* Allows flex items to wrap to next line if needed */
  /* By default, the aside and section will be side-by-side */
}

aside {
  flex: 1;  /* Shorthand for flex-grow: 1, flex-shrink: 1, flex-basis: 0% 
  When set to 0%, the item starts with no inherent size, and sizing is based entirely on the flex-grow proportion */
  background-color: #b9c6ae;
  padding: 20px;
}

section {
  flex: 3;  /* Takes 3 times as much space as the aside */
  background-color: #fff;
  padding: 20px;
    /* Will take up 3/4 of the space when next to aside with flex: 1 */
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body 
  
  We use the comma to target both the aside and section elements instead of writing the same styles twice
  main {
  flex-direction: column;
  }
  nav {
    flex-direction: column;
  }*/
  aside {
    order:2;
     /* Higher number than default (0), so it appears after section */
    /* This reverses the visual order, putting the sidebar below the main content */
    /* The section element keeps its default order: 0 */
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}
